.endContainer{
    font-size: x-large;
    font-weight: 600;
    font-style: oblique;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.pointsResultContainer{
    margin: auto;
    color: #fff301;
}

.linkToHomeButton{
    margin-top: 20px;
    padding: 1em 2.5rem;
    border-radius:4em ;
    font-weight: 600;
    border:none;
    color: white;
    background-color: #b7131a;
}

